<ion-header>
  <ion-toolbar color= "dark">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    <ion-icon name="person-outline"></ion-icon>
    <ion-input [(ngModel)]= "this.nombre" type= "text"  placeholder="Nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="person-outline"></ion-icon>
    <ion-input [(ngModel)]= "this.apellido" type= "text"  placeholder="Apellido"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="mail-outline"></ion-icon>
    <ion-input [(ngModel)]= "this.email" type= "text"  placeholder="E-mail"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="key-outline"></ion-icon>
    <ion-input [(ngModel)]= "this.password" type= "password"  placeholder="Contraseña"></ion-input>
  </ion-item>

  <ion-button size= "large" expand="block" fill= "outline" color= "secondary"
   (click)= "mandarRegistro()">Mandar</ion-button>

   <a class= "r" [routerLink] = "['/login']" >Login</a>

</ion-content>
