<ion-header>
  <ion-toolbar color= "dark">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

  <ion-item>
    <ion-icon name="mail-outline"></ion-icon>
    <ion-input [(ngModel)]= "this.email" type= "text"  placeholder="E-mail"></ion-input>
  </ion-item>

  <ion-item>
    <ion-icon name="key-outline"></ion-icon>
    <ion-input [(ngModel)]= "this.password" type= "password"  placeholder="Contraseña"></ion-input>
  </ion-item>

  
  
  <ion-button color= "secondary" size= "large" expand="block" fill= "outline"
   (click)= "enviar()">Mandar</ion-button>

   <a class= "a" [routerLink] = "['/registro']">Registro</a>

</ion-content>
