<ion-header>
  <ion-toolbar color= "dark">
    <h1>Hola: <span> {{useS.usuario.nombre}}. </span> </h1>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <app-lista-usuario></app-lista-usuario>
    
  
  <!-- <ion-button color= "secondary" size= "large" expand="block" fill= "outline"
  (click)= "inicio()">Iniciar</ion-button> -->
  <div>
  <ion-button class="boton" (click)= "borrar ()">logout</ion-button>
  </div>
  <ion-button  [routerLink]="['/chat']">prueba chat</ion-button>
  <router-outlet></router-outlet>

</ion-content>
